.sidenav {
    height: calc(100vh - 56px);
    overflow: auto;
    scrollbar-width: thin;
    top: 56px;
}
.sidenav .divider {
    height: 1px;
    background-color: rgba(128, 128, 128, .4);
    margin: .5rem 0;
}